<stage onstagelist="on" name="cf" created="2013-05-01 16:36:47.096534" lockstage="true" active="active" id="cf">
<lockstage>true</lockstage>
<avatar media="avatar_ej2IzW0C" voice="bud" name="dsfadhdfh" showname="show">
</avatar>
<avatar media="avatar_L6VttL9D" voice="" name="test" showname="show">
</avatar>
<avatar media="avatar_LhFNnFLM" voice="" name="dermo" showname="show">
</avatar>
<avatar media="avatar_BMaE83ry" voice="awb_cmu" name="fdfd" showname="show">
</avatar>
<backdrop media="backdrop_9dQbJquh" name="sZdxfv">
</backdrop>
<access_one>admin</access_one>
<access_two>
</access_two>
<chatbgcolour>0xFFFFFF</chatbgcolour>
<toolsbgcolour>0xFFFFFF</toolsbgcolour>
<pagebgcolour>0xFFFFFF</pagebgcolour>
<onstagelist>on</onstagelist>
<lockstage>true</lockstage>
<towner>admin</towner>
</stage>